.about-banner {
  height: 70vh;
  background-image: url("../assets//about-page/banner.jpg"); 
  background-size: cover;
  background-position: center;
  position: relative;
}

/* overlay */
.about-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.about-banner .container {
  position: relative;
  z-index: 1;
}
/*----------------------what we do ---------*/
.what-we-do {
  background-color: #343a40; 
}

.what-we-do .bg-secondary {
  background-color: #495057 !important; 
}
/*--------------Mission Section---------- */
.mission-section {
  height: 600px; 
  background: url('../assets/about-page/about-mission.avif') center/cover no-repeat;
  display: flex;
  align-items: flex-end;
}

/* Transparent overlay */
.overlay {
  top: 0;
  left: 0;
  background: rgba(255, 0, 0, 0.3); 
  pointer-events: none;
}

/* Content box overlapping bottom */
.content-box {
  background: #fff;
  margin-bottom: -50px; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 2;
}

.box-item {
  background: #f9f9f9;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
}

